body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title, .toc_title, .subtitle{
  padding-bottom: 15px;
  border-bottom: solid 1px gray;
}

.toc_title{
  border-top: solid 1px gray;
  padding-top: 15px;
}

.toc_nav{
  padding-bottom: 10px;
  border-bottom: solid 1px gray;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
